body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.about{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}